@model IEnumerable<Class_performance.Donar>

@{
    ViewBag.Title = "Index";
}

<h2 align="center">Donar List</h2>
<hr/>

<p align="right">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("logout","Index","Home", null, new { @class = "btn btn-danger" })
</p>
<table class="table table-hover table-responsive">
    <tr style="background-color:cyan">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
<div align="center" style="background-color:red">
  <h3> Total Donation Collected-@Model.Sum(i=>i.Amount) Taka </h3>
</div>
